.appNavBar {
    background-color: green;
    grid-area: b;
    text-align: center;
}

.item {
  color: black;
}

.item link {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.active {
  color: red;
}