.appNavBar {
  background-color: green;
  grid-area: b;
  text-align: center;
}

.item {
  color: rgba(17, 0, 255, 0.927);
}

.item a {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.item :active {
  color: red;
}
